<div class="login-box">
    <div class="card card-outline card-success">
        <div class="card-header text-center">
            <div class="login-logo">
                <img src="{{URL}}/{{PATH_LOGO_PNG_IASD}}" alt="IASD Parque Regina" class="brand-image" style="opacity: .8"  height="75" width="75">
            </div>
        </div>
        <div class="card-body">
            {{status}}
            <p class="login-box-msg">Esqueceu sua senha? Aqui você pode recuperar facilmente uma nova senha</p>
            <form method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Solicitar nova senha</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <p class="mt-3 mb-1">
                <a href="{{URL}}/login">Login</a>
            </p>
        </div>
    </div>
</div>