<section class="content">
  <div class="error-page">
    <h2 class="headline text-warning">403</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Algo deu errado..</h3>

      <p>
        A página que você está tentando acessar, recusou sua conexão, provavelmente você não possui permissão para estar aqui.
        Enquanto isso, você pode <a href="{{urlRedirect}}">voltar a página principal</a>.
      </p>

    </div>
  </div>

</section>