<div class="login-box">
    <div class="card card-outline card-success">
        <div class="card-header text-center">
            <div class="login-logo">
                <img src="{{URL}}/{{PATH_LOGO_PNG_IASD}}" alt="Personal Finance Control" class="brand-image" style="opacity: .8"  height="75" width="75">
            </div>
        </div>
        <div class="card-body">
            {{status}}
            <p class="login-box-msg">Cadastrar nova senha</p>
            <form method="post">
                <div class="input-group mb-3">
                    <label for="nova-senha"></label>
                    <input type="password" class="form-control" maxlength="50" name="nova-senha" placeholder="Nova Senha" id="nova-senha" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-eye" id="show_password" style="border: none; background-color: transparent ;"></span>
                        </div>
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="conf-senha"></label>
                    <input type="password" class="form-control" maxlength="50" name="conf-senha" placeholder="Confirme Senha" id="conf-senha" oninput="check_passwd('conf-senha','nova-senha')" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span id="span-passwd" style="color:#ff0000;"></span>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success btn-block">Atualizar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <p class="mt-3 mb-1">
                <a href="{{URL}}/login">Login</a>
            </p>
        </div>
    </div>
</div>