<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{mainTitle}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{URL}}/{{MAIN_PATH_APP}}/dashboards">Dashboards</a></li>
            <li class="breadcrumb-item active">Search View</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid addPage">
      <a href="{{URL}}/{{MAIN_PATH_APP}}/dashboards">
        <button type="button" class="btn btn-warning">Voltar</button>
      </a>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">{{title}}</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive-sm">
                <table id="tableAllViewHome" class="table table-striped-columns table-hover table-sm" style="font-size:12px">
                  <thead class="table-secondary">
                  <tr>
                    <th>Data</th>
                    <th>Dia Da Semana</th>
                    <th>Orador</th>
                    <th>Contato</th>
                    <th>Tema</th>
                    <th>Programação</th>
                    <th>Departamento/Ministério</th>
                    <th>Mês</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{itemsView}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{modalView}}