<form name="frm_senha" action="{{urlPasswd}}" method="POST">
  <div class="modal fade" id="editaSenha" tabindex="-1" role="dialog" aria-labelledby="editaSenhaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alteração de Senha</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" maxlength="50" name="nova-senha" placeholder="Nova Senha" id="nova-senha" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-eye" id="show_password" style="border: none; background-color: transparent ;"></span>
                  </div>
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" maxlength="50" name="conf-senha" placeholder="Confirme Senha" id="conf-senha" oninput="check_passwd('conf-senha','nova-senha')" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <span id="span-passwd" style="color:#ff0000;"></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-outline-primary">Confirma</button>
        </div>
      </div>
    </div>
  </div>
</form>